/*Room.css*/

.room {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    border: 2px solid var(--slate-two);
}

.room-grid {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
}

.tile-grid {
    background-color: var(--smoke);
}

.map-tile {
    display: inline-block;
    width: 100;
    height: 100%;
    z-index: 1;
}

.map-tile.wall {
    background-color: var(--red-dk-two);
}

.map-tile.none {
    display: flex;
    position: relative;
}

.map-tile.none::before {
    position: absolute;
    top: 50%;
    content: '.';
    left: 50%;
    transform: translateX(-50%);
}

.beast, .player {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: relative;
}

.beast::after, .player::after {
    margin: auto;
    font-size: 1em;
}

.player::after {
    content: '@';
}

.beast.cave-spider::after {
    content: 'S';
}

.beast.cave-rat::after {
    content: 'R';
}

.beast.un-beast::after {
    content: 'U';
}

.beast.is-targeted {
    outline: 1px solid var(--red-dk-one);
}