/*PlayerStats.css*/

.player-display-stats {
    background-color: var(--smoke);
    border: 2px solid var(--gray);
    display: block;
    width: 100%;
}

.player-display-inner {
    padding: 0.25em 0.5em;
}