/*Beast.css*/

.beast, .player {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: relative;
}

.player::after {
    content: '@';
}

.beast::after, .player::after {
    margin: auto;
    font-size: 1.5em;
}

.beast.cave-spider::after {
    content: 'S';
}

.beast.cave-rat::after {
    content: 'R';
}

.beast.is-targeted {
    outline: 1px solid var(--red-dk-one);
}

.health-bar {
    width: 100%;
    display: block;
    height: 3px;
    position: absolute;
    bottom: 0;
    opacity: 0.7;
}

.health-bar > span {
    display: block;
    background-color: var(--red-dk-one);
    display: block;
    height: 100%;
    transition: all ease 0.2s;
}