/*HUD.css*/

.heads-up-display {
    display: grid;
    grid-template-rows: auto auto;
    grid-column: 1;
    grid-row: 1 / 3;
    padding: 1em;
    width: 20em;
    background-color: var(--red-dk-bg);
    box-shadow: var(--box-shadow-right);
    z-index: 11;
}