/*Console.css*/

.console {
    z-index: 1010;
    background-color: var(--smoke);
    width: 100%;
    position: absolute;
    top: -8em;
    left: 0;
    display: flex;
    flex-direction: row;
    transition: top ease 0.2s;
}

.console.active {
    top: 0;
    box-shadow: var(--box-shadow-down);
}