/*Game.css*/

.game {
    height: 100%;
    display: grid;
    grid-template-columns: 18em auto 20em;
    grid-gap: 2em;
    overflow: hidden;
    font-family: 'Arvin', sans-serif;
    position: relative;
    transition: margin-left ease 0.2s;
}