/*MapDisplay.css*/

.map-display {
    display: flex;
    height: 100%;
    width: 100%;
    grid-column: 2 / 3;
    font-size: inherit !important;
    background-color: var(--red-dk-three) !important;
}

.map-display-inner-container {
    margin: auto;
    font-size: 2px;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.map-room-tile {
    outline: 1px solid black;
    display: block;
    position: absolute;
}