:root {
  --gray: #575757;
  --smoke: #ECECEC;
  --red-one: #c94b50;
  --slate-one: #132438;
  --slate-two: #375752;
  --seafoam: #3da3a2;
  --tomato: #fc5956;
  --gray-dim: #515a5c;
}

html, body, div#root {
  height: 100vh;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.app {
  height: 100%;
  background-color: var(--slate-one);
}