/*Console.css*/

.console {
    z-index: 1010;
    display: block;
    background-color: var(--smoke);
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1.0;
}

.console.collapsed {
    opacity: 0.6
}

.console-body {
    display: flex;
    flex-direction: row;
}

.console-collapse-btn {
    display: flex;
}

.console-collapse-btn > button {
    margin: auto;
}